In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_excel(r"C:\Users\Vishal\Desktop\DAta science\Projects\Heating and Cooling load prediction\ENB2012_data.xlsx")

In [3]:
data.shape

(768, 12)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   X1           768 non-null    float64
 1   X2           768 non-null    float64
 2   X3           768 non-null    float64
 3   X4           768 non-null    float64
 4   X5           768 non-null    float64
 5   X6           768 non-null    int64
 6   X7           768 non-null    float64
 7   X8           768 non-null    int64
 8   Y1           768 non-null    float64
 9   Y2           768 non-null    float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
dtypes: float64(10), int64(2)
memory usage: 72.1 KB

In [5]:
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2,Unnamed: 10,Unnamed: 11
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33,NaN,NaN
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33,NaN,NaN
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33,NaN,NaN
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33,NaN,NaN
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28,NaN,NaN

In [6]:
data.rename(columns={'X1':'Relative Compactness',"X2":"Surface Area","X3":"Wall Area","X4":"Roof Area","X5":"Overall Height","X6":"Orientation","X7":"Glazing Area","X8":"Glazing Area Distrubution","Y1":"Heating Load","Y2":"Cooling Load"},inplace=True)

In [7]:
data.drop(['Unnamed: 10','Unnamed: 11','Heating Load'],axis=1,inplace=True)

In [8]:
data.head()

,Relative Compactness,Surface Area,Wall Area,Roof Area,Overall Height,Orientation,Glazing Area,Glazing Area Distrubution,Cooling Load
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,21.33
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,21.33
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,21.33
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,21.33
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,28.28

In [9]:
data.isnull().sum()

Relative Compactness         0
Surface Area                 0
Wall Area                    0
Roof Area                    0
Overall Height               0
Orientation                  0
Glazing Area                 0
Glazing Area Distrubution    0
Cooling Load                 0
dtype: int64

In [10]:
data.describe()

,Relative Compactness,Surface Area,Wall Area,Roof Area,Overall Height,Orientation,Glazing Area,Glazing Area Distrubution,Cooling Load
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250,24.587760
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096,9.513306
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000,10.900000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000,15.620000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000,22.080000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000,33.132500
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000,48.030000

In [11]:
data.corr()['Cooling Load']

Relative Compactness         0.634339
Surface Area                -0.672999
Wall Area                    0.427117
Roof Area                   -0.862547
Overall Height               0.895785
Orientation                  0.014290
Glazing Area                 0.207505
Glazing Area Distrubution    0.050525
Cooling Load                 1.000000
Name: Cooling Load, dtype: float64

In [14]:
data.drop(['Surface Area','Roof Area'],axis=1,inplace=True)

In [15]:
data.head()

,Relative Compactness,Wall Area,Overall Height,Orientation,Glazing Area,Glazing Area Distrubution,Cooling Load
0,0.98,294.0,7.0,2,0.0,0,21.33
1,0.98,294.0,7.0,3,0.0,0,21.33
2,0.98,294.0,7.0,4,0.0,0,21.33
3,0.98,294.0,7.0,5,0.0,0,21.33
4,0.90,318.5,7.0,2,0.0,0,28.28

In [16]:
data.corr()['Cooling Load']

Relative Compactness         0.634339
Wall Area                    0.427117
Overall Height               0.895785
Orientation                  0.014290
Glazing Area                 0.207505
Glazing Area Distrubution    0.050525
Cooling Load                 1.000000
Name: Cooling Load, dtype: float64

In [17]:
data.describe()

,Relative Compactness,Wall Area,Overall Height,Orientation,Glazing Area,Glazing Area Distrubution,Cooling Load
count,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000
mean,0.764167,318.500000,5.25000,3.500000,0.234375,2.81250,24.587760
std,0.105777,43.626481,1.75114,1.118763,0.133221,1.55096,9.513306
min,0.620000,245.000000,3.50000,2.000000,0.000000,0.00000,10.900000
25%,0.682500,294.000000,3.50000,2.750000,0.100000,1.75000,15.620000
50%,0.750000,318.500000,5.25000,3.500000,0.250000,3.00000,22.080000
75%,0.830000,343.000000,7.00000,4.250000,0.400000,4.00000,33.132500
max,0.980000,416.500000,7.00000,5.000000,0.400000,5.00000,48.030000

In [19]:
X=data.drop('Cooling Load',axis=1)
y=data['Cooling Load']

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [33]:
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor

In [34]:
lr=LinearRegression()
lin_model=lr.fit(X_train,y_train)
r2_score(y_test,lin_model.predict(X_test))

0.8538732759187637

In [35]:
lasso=Lasso(alpha=1)
lasso_model=lasso.fit(X_train,y_train)
r2_score(y_test,lasso_model.predict(X_test))

0.8152227990127767

In [44]:
ridge=Ridge(alpha=3)
ridge_model=ridge.fit(X_train,y_train)
r2_score(y_test,ridge_model.predict(X_test))

0.8556644250189579

In [54]:
DTR=DecisionTreeRegressor(max_depth=6)
DTR_model=DTR.fit(X_train,y_train)
r2_score(y_test,DTR_model.predict(X_test))

0.9560753668550098

# Exporting the Model

In [56]:
import pickle
pickle.dump(data,open('df.pkl','wb'))
pickle.dump(lin_model,open('lin_model.pkl','wb'))
pickle.dump(lasso_model,open('lasso_model.pkl','wb'))
pickle.dump(ridge_model,open('ridge_model.pkl','wb'))
pickle.dump(DTR_model,open('DTR_model.pkl','wb'))

In [57]:
X_test,y_test

(     Relative Compactness  Wall Area  Overall Height  Orientation  \
 158                  0.82      318.5             7.0            4
 251                  0.86      294.0             7.0            5
 631                  0.90      318.5             7.0            5
 757                  0.66      318.5             3.5            3
 689                  0.79      343.0             7.0            3
 ..                    ...        ...             ...          ...
 733                  0.82      318.5             7.0            3
 441                  0.86      294.0             7.0            3
 627                  0.98      294.0             7.0            5
 84                   0.66      318.5             3.5            2
 55                   0.90      318.5             7.0            5

      Glazing Area  Glazing Area Distrubution
 158          0.10                          3
 251          0.10                          5
 631          0.40                          3
 757          0.40                          5
 689          0.40                          4
 ..            ...                        ...
 733          0.40                          5
 441          0.25                          4
 627          0.40                          3
 84           0.10                          1
 55           0.10                          1

 [154 rows x 6 columns],
 158    25.35
 251    31.28
 631    33.31
 757    17.79
 689    47.59
        ...
 733    29.56
 441    34.19
 627    34.00
 84     13.90
 55     34.33
 Name: Cooling Load, Length: 154, dtype: float64)